table {
  width: 100%;
  thead {
    tr {
      th {
        height: rem(50);
        font-weight: 700;
        line-height: 1.2;
        & + th {
          border-left: rem(1) solid $border;
        }
        span {
          font-size: rem(12);
          font-weight: 500;
          color: #e75935;
        }
      }
      &:first-child {
        th {
          border-bottom: 0;
        }
      }
      &:last-child {
        th {
          border-top: 0;
        }
      }
    }
  }
  tbody {
    tr {
      th {
        border-right: rem(1) solid $border;
        border-bottom: rem(1) solid $border;
      }
      td {
        height: rem(50);
        font-size: rem(14);
        border-top: rem(1) solid $border;

        & + td {
          border-left: rem(1) solid $border;
        }
        &:last-child {
          border-bottom: rem(1) solid $border;
        }
      }
    }
  }
  th,
  td {
    color: #222222;
    padding: rem(5) rem(20);
  }
}
