@charset 'utf-8';

// base
@import 'base/common';
@import 'base/reset';
@import 'base/font';

// component
@import 'component/tab';

// layout
@import 'layout/header';
@import 'layout/nav';
@import 'layout/contents';
@import 'layout/report';
@import 'layout/skills';
@import 'layout/history';
@import 'layout/portfolio';
@import 'layout/footer';
