.#{$ly} {
  &-wrap {
    textarea {
      padding: rem(10);
    }
    .tab {
      &-area {
        padding-top: rem(52);

        &__btn {
          @include onFlex(center, center);
          li {
            position: relative;
            width: 100%;
            text-align: center;
            padding: rem(10) 0;
            &::after {
              content: '';
              position: absolute;
              left: 50%;
              bottom: 0;
              width: 0;
              height: rem(2);
              background-color: $baseColor;
              transform: translateX(-50%);
              transition: width 0.3s ease-in;
            }
            &.on {
              .tab__btn {
                color: #ffffff;
                background-color: $baseColor;
              }
            }

            & + li {
              margin-left: rem(30);
            }
          }
        }
        .nav {
          position: absolute;
          top: rem(80);
          left: 0;
          width: 100%;
          border-top: rem(1) solid #00203f33;
          border-bottom: rem(1) solid #00203f33;
          .tab-area__btn {
            @include maxWidth;
            li {
              &.on {
                &::after {
                  width: 30%;
                }
                .tab__btn {
                  color: #222222;
                  background-color: $subColor;
                }
              }
            }
          }
        }
        &__contents {
          margin: rem(30) 0;
          .tab-area__contents {
            margin-top: rem(30);
          }
        }
      }
      &__btn {
        height: rem(30);
        font-size: rem(20);
        font-weight: 700;
        color: $baseColor;
        line-height: rem(30);
        background-color: $subColor;
        border-radius: rem(5);
        padding: 0 rem(10);
      }
      &__contents {
        padding-left: 5%;
        padding-right: 5%;
        .contents__wrap {
          @include onFlex(flex-start, flex-start);
          flex-wrap: wrap;
          margin-top: rem(25);
        }
        .view__btn {
          position: relative;
          display: block;
          width: rem(140);
          height: rem(40);
          color: #67c2a2;
          line-height: rem(37);
          text-align: center;
          border: rem(1) solid #67c2a2;
          border-radius: rem(5);
          background-color: #ffffff;
          margin-top: rem(100);
          transition: background-color 0.3s ease-in;
          z-index: 10;
          &:hover {
            color: #fff;
            background-color: #67c2a2;
          }
        }
        &.on {
          display: block;
        }
      }
    }
    .sort {
      &-area {
        &__btn {
          @include onFlex(center, center);
          li {
            height: rem(30);
            color: #222222;
            line-height: rem(30);
            background-color: $subColor;
            border-radius: rem(5);
            padding: 0 rem(10);
            cursor: pointer;
            &.on {
              color: $subColor;
              background-color: $baseColor;
            }
          }
        }
        &__contents {
        }
      }
      &__btn {
        cursor: pointer;
      }
      &__contents {
        @include onFlex(flex-start, flex-start);
        flex-wrap: wrap;
        width: 100%;
        margin-top: rem(25);
        .contents {
          display: none;
          width: calc((99% / 3) - 1%);
          text-align: left;
          margin-bottom: rem(25);
          margin-right: 1%;
          overflow: hidden;
          &.on {
            display: block;
          }
        }
        .img-area {
          height: rem(300);
          border: rem(1) solid #dddddd;
        }
        h4.title {
          font-size: rem(14);
          font-weight: 700;
          text-align: left;
          margin-top: rem(5);
          margin-bottom: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .img-area {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center 0;
      }
    }
    footer {
      background-color: $baseColor;
      .#{ly} {
        &-footer {
          @include onFlex(center, center);
          @include maxWidth();
          height: rem(80);
          font-size: rem(12);
          color: $subTxtColor;
          text-align: center;
          padding: 0 5%;
          p {
            line-height: 1.2;
          }
        }
      }
    }
    .btn {
      &__submit {
        height: rem(30);
        font-weight: 700;
        color: $subColor;
        border-radius: rem(5);
        background-color: $baseColor;
        padding: 0 rem(10);
      }
    }
  }
  &-contents {
    &__wrap {
      position: relative;
      height: 100%;
    }

    &__visual {
      position: sticky;
      top: -30%;
      width: 100%;
      height: 100vh;
      z-index: 9;
      .visual {
        &__intro {
          &-wrap {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            justify-content: 100%;
            background-color: #ffffff;
            animation: outFrame 1s forwards 1.4s;
            .intro__title {
              position: absolute;
              top: 50%;
              left: 50%;
              @include onFlex(center, center);
              flex-direction: column;
              transform: translate(-50%, -50%);
            }
            .title {
              position: relative;
              font-size: rem(52);
              font-weight: 700;
              &:first-child {
                right: -100%;
                opacity: 0;
                animation: toLeft 1s forwards 1s ease-in-out;
              }
              &:nth-child(2) {
                left: -100%;
                opacity: 0;
                animation: toRight 1s forwards 1.2s ease-in-out;
              }
              &:last-child {
                right: -100%;
                opacity: 0;
                animation: toLeft 1s forwards 1.4s ease-in-out;
              }
            }
          }
        }
      }
      .visual__real {
        position: absolute;
        left: 50%;
        bottom: -100%;
        width: 20%;
        height: 10%;
        transform: translateX(-50%);
        animation: fadeUp 1s forwards 1.4s ease-in-out;
      }
      .img-area {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        img {
          border-radius: rem(10);
        }
      }
      // &::after {
      //   content: '';
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   display: block;
      //   width: 100%;
      //   height: 100%;
      //   // background-color: rgba(0, 0, 0, 0.6);
      // }
      .txt-area {
        position: relative;
        @include onFlex();
        flex-direction: column;
        height: 100%;
        @include maxWidth(rem(756));
        text-align: center;
        padding: 0 rem(30);
        opacity: 0;
        z-index: 10;
        h2 {
          font-size: rem(52);
          font-weight: 600;
          color: #ffffff;
          line-height: 1.1;
          letter-spacing: rem(-2);
          margin-bottom: rem(20);
          animation-delay: 0.4s;
          > span {
            display: inline-block;
            color: $subColor;
          }
        }
        p {
          line-height: rem(27);
          color: $subColor;
          letter-spacing: rem(0.5);
          animation-delay: 0.6s;
        }
        * {
          transform: translateY(40%);
          opacity: 0;
          animation: slideIn 1s forwards ease-in-out;
        }
      }
      &.on {
        // .visual__real {
        //   bottom: 0;
        // }
        .intro__title {
          display: none;
        }
        .txt-area {
          opacity: 1;
        }
        .img-area img {
          border-radius: 0;
        }
      }
    }
    &__main {
      position: relative;
      height: 100%;
      background-color: $subColor;
      padding: rem(100) 0;
      z-index: 10;
    }
    &__section {
      position: relative;

      .contents-area {
        @include maxWidth();
        padding: rem(80) 0 rem(20);
        overflow: hidden;
        .title {
          font-size: rem(48);
          text-align: center;
          color: $baseColor;
          margin-bottom: rem(70);
        }
      }
      &:first-child {
        .contents-area {
          padding-top: 0;
        }
      }
    }
  }
}
body {
  &.stop__scroll {
    overflow: hidden;
  }
}
#info {
  .contents-area {
    @include onFlex(flex-start, flex-start);
    &__left {
      width: rem(180);
      .img-area {
        display: inline-block;
        width: rem(180);
        height: rem(180);
        border-radius: 50%;
        background: url('../images/seo_em01.png') #ffffff no-repeat center
          center / contain;
      }
    }
    &__right {
      @include onFlex(flex-start, flex-start);
      width: calc(100% - 11.25rem);
      padding-left: rem(100);
      .info {
        &__cont {
          width: 100%;
          &-title {
            padding-bottom: rem(20);
            h2 {
              color: $baseColor;

              span {
                font-size: rem(14);
                font-weight: 400;
                margin-left: rem(3);
              }
            }
          }
          &-group {
            @include onFlex(flex-start, space-between);
            h3 {
              position: relative;
              font-size: rem(18);
              font-weight: 400;
              color: $baseColor;
              padding-left: rem(12);
              &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                display: block;
                width: rem(7);
                height: rem(7);
                border-radius: 50%;
                background-color: $subTxtColor;
                transform: translateY(-50%);
              }
              & + ul {
                margin-top: rem(10);
              }
            }
          }
          &-left {
            flex-shrink: 0;
          }
          &-right {
          }
          &-list {
            ul {
              li {
                font-size: rem(14);
                color: $baseColor;
                padding-left: rem(12);
                & + li {
                  margin-top: rem(5);
                }
              }
            }
            & + .info__cont-list {
              margin-top: rem(15);
            }
          }
          .skill {
            @include onFlex(center, flex-start);
            height: rem(17);
            font-size: rem(14);
            color: $baseColor;
            &-item {
            }
            &__name {
            }
            &__bar {
              position: relative;
              width: rem(300);
              height: rem(15);
              border: rem(1) solid $subTxtColor;
              border-radius: rem(10);
              margin-left: rem(10);
              box-sizing: content-box;
              overflow: hidden;
            }
            &__per {
              position: absolute;
              top: 0;
              left: -100%;
              width: 0;
              height: 100%;
              border: rem(1) solid $subTxtColor;
              border-radius: rem(10);
              background-color: $subTxtColor;
              transition: left 0.4s ease-in;
              &::before {
                content: attr(data-per);
                position: absolute;
                top: 50%;
                right: rem(5);
                color: #ffffff;
                font-size: rem(10);
                border-radius: rem(4);
                transform: translateY(calc(-50% - 1px));
              }
              &.active {
                left: 0;
              }
            }

            span {
              display: block;
            }
            & + .skill {
              margin-top: rem(15);
            }
          }
          & + .info__cont {
            padding-left: rem(200);
          }
        }
      }
    }
  }
}

.dim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.3s ease-in;
  z-index: 999;
  &.on {
    visibility: visible;
    opacity: 1;
  }
}
.popup {
  &__wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: rem(300);
    height: rem(180);
    background-color: #ffffff;
    transform: translate(-50%, -50%);
  }
}
.btn {
  &__close {
  }
}

.msg-area {
  textarea {
    height: rem(300);
    border: rem(1) solid #dddddd;
  }
}

@media (max-width: 1024px) {
  .tab__contents {
    display: none;
  }
  .tab__contents.on {
    display: block;
  }

  .ly-contents__section .contents-area .tab__contents .img-area {
    margin-top: rem(20);
    margin-left: 0;
  }

  .ly-contents__section .contents-area .tab__contents .view__btn {
    margin-top: rem(20);
  }
  .ly-wrap .sort__contents .img-area {
    height: rem(200);
  }

  .ly-contents__section#info .contents-area {
    display: block;
  }

  .ly-contents__section#info .contents-area__left {
    width: 100%;
    text-align: center;
  }
  .ly-contents__section#info .contents-area__right {
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: rem(50);
    padding-left: 0;
  }
  #info .contents-area__right .info__cont {
    width: auto;
  }
}

@media (max-width: 850px) {
  .ly-header {
    justify-content: center;
  }
  .ly-contents__section#info .contents-area__right .info__cont-title h2 {
    font-size: rem(20);
  }
  .gnb {
    display: none;
  }
  .ly-contents__section {
    padding: 0;
  }

  .ly-wrap .tab__btn {
    font-size: rem(18);
  }
  .ly-wrap .sort__contents {
    margin-left: 2%;
  }

  .ly-wrap .skills-area .skill-name:hover {
    top: 0;
  }
  .ly-wrap .sort__contents {
    width: 100%;
  }

  .ly-wrap .sort__contents .contents {
    width: 47%;
    margin-right: 3%;
  }
  .ly-contents__visual .visual__intro-wrap .intro__title {
    width: 100%;
  }
  .ly-contents__visual .visual__intro-wrap .title:first-child {
    right: -10%;
  }
  .ly-contents__visual .visual__intro-wrap .title:nth-child(2) {
    left: -10%;
  }
  .ly-contents__visual .visual__intro-wrap .title:nth-child(2) {
    right: -10%;
  }
  .ly-contents__visual .visual__intro-wrap .title {
    font-size: rem(32);
  }
  .ly-wrap .sort__contents .img-area {
    height: rem(160);
  }

  .ly-contents__section#info .contents-area {
    display: block;
  }

  .ly-contents__section#info .contents-area__right .info__cont-group {
    display: block;
  }
  .ly-contents__section#info .contents-area__right .info__cont-group h3 {
    display: inline-block;
  }
  .ly-contents__section#info .contents-area__right .info__cont-right {
    margin-top: rem(15);
  }

  .ly-contents__section#info .contents-area__right .info__cont .skill {
    font-size: rem(12);
  }
  .ly-contents__section#info .contents-area__right .info__cont .skill__bar {
    width: rem(224);
    height: rem(10);
  }
  .ly-contents__section#info .contents-area__right .info__cont .skill-item {
    flex-wrap: wrap;
    margin-top: rem(10);
  }
  .ly-contents__section#info .contents-area__right .info__cont + .info__cont {
    padding-left: 0;
  }
  .msg-area textarea {
    height: rem(245);
  }

  @keyframes toLeft {
    0% {
      right: -10%;
      opacity: 0;
    }
    100% {
      right: 0;
      opacity: 1;
    }
  }

  @keyframes toRight {
    0% {
      left: -10%;
      opacity: 0;
    }
    100% {
      left: 0;
      opacity: 1;
    }
  }
}
