.#{$ly} {
  &-wrap {
    textarea {
      padding: rem(10);
    }
    .tab {
      &-area {
        &__btn {
          @include onFlex(center, center);
          li {
            text-align: center;
            &.on {
              .tab__btn {
                color: #ffffff;
                background-color: #a2dcc7;
              }
            }
            & + li {
              margin-left: rem(10);
            }
          }
          &.nav {
            border-top: rem(1) solid #dddddd;
            border-bottom: rem(1) solid #dddddd;
            padding: rem(10) 0;
          }
        }
        &__contents {
          // height: rem(380);
          margin: rem(80) 0;
          .tab-area__contents {
            margin-top: rem(30);
          }
        }
      }
      &__btn {
        height: rem(30);
        font-size: 19px;
        font-weight: 700;
        color: #222222;
        line-height: rem(30);
        background-color: #ffffff;
        border-radius: 5px;
        padding: 0 rem(10);
      }
      &__contents {
        .contents {
          // @include onFlex(flex-start, center);
          width: calc(100% / 3);

          // min-width: rem(320);
          // min-height: rem(250);
          text-align: left;
          margin-right: 1%;
          margin-bottom: rem(15);
          overflow: hidden;
          .img-area {
            height: rem(330);
            padding: rem(10);
            background-color: #dddddd;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center 0;
            }
          }
          .title {
            font-size: rem(18);
            font-weight: 700;
            text-align: left;
            margin-top: rem(10);
          }
        }

        .view__btn {
          position: relative;
          display: block;
          width: rem(140);
          height: rem(40);
          color: #67c2a2;
          line-height: rem(37);
          text-align: center;
          border: rem(1) solid #67c2a2;
          border-radius: rem(5);
          background-color: #ffffff;
          margin-top: rem(100);
          transition: background-color 0.3s ease-in;
          z-index: 10;
          &:hover {
            color: #fff;
            background-color: #67c2a2;
          }
        }
      }
    }
  }
  &-contents {
    &__wrap {
      position: relative;
      height: 100%;
    }

    &__visual {
      position: sticky;
      top: -30%;
      width: 100%;
      height: 100vh;
      background: url('../images/slide_2.jpg') no-repeat left center / cover;
      z-index: 9;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
      }
      .txt-area {
        position: relative;
        @include onFlex();
        flex-direction: column;
        height: 100%;
        @include maxWidth(rem(756));
        text-align: center;
        padding: 0 rem(30);
        z-index: 10;
        h2 {
          font-size: rem(52);
          font-weight: 600;
          line-height: 1.1;
          color: #ffffff;
          margin-bottom: rem(20);
          animation-delay: 0.4s;
          span {
            display: inline-block;
            color: #67c2a2;
          }
        }
        p {
          line-height: rem(27);
          color: #ffffff;
          letter-spacing: rem(0.5);
          animation-delay: 0.6s;
        }
        * {
          transform: translateY(40%);
          opacity: 0;
          animation: slideIn 1s forwards ease-in-out;
        }
      }
    }
    &__main {
      position: relative;
      height: 100%;
      background-color: #ffffff;
      padding: rem(100) 0;
      z-index: 10;
    }
    &__section {
      // @include maxWidth();
      .contents-area {
        padding: rem(200) 0 rem(20);
        overflow: hidden;
        .title {
          font-size: rem(48);
          text-align: center;
          color: #222222;
          margin-bottom: rem(70);
        }
      }
      &:first-child {
        .contents-area {
          padding-top: 0;
        }
      }
    }
  }
}
.dim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.3s ease-in;
  z-index: 999;
  &.on {
    visibility: visible;
    opacity: 1;
  }
}
.popup {
  &__wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: rem(300);
    height: rem(180);
    background-color: #ffffff;
    transform: translate(-50%, -50%);
  }
}
.btn {
  &__close {
  }
}
.swiper {
  &-wrappper {
    position: relative;
    width: auto;
    height: auto;
    z-index: 0;
    display: flex;
    transition-property: none;
    box-sizing: inherit;
  }
  &-slide {
    flex-shrink: 1;
    width: auto;
    height: auto;
    position: relative;
    transition-property: none;
  }
}

@media (max-width: 1024px) {
  .ly-contents__section {
    padding: 0 5%;
  }
  .tab__contents {
    display: none;
  }
  .tab__contents.on {
    display: block;
  }

  .ly-contents__section .contents-area .tab__contents .img-area {
    width: 100%;
    margin-top: rem(20);
    margin-left: 0;
  }

  .ly-contents__section .contents-area .tab__contents .view__btn {
    margin-top: rem(20);
  }
  .ly-wrap .ly-footer {
    padding: rem(20) 5%;
  }
}

@media (max-width: 850px) {
  .gnb {
    display: none;
  }
  .ly-contents__section .contents-area .tab-area__btn li + li {
    margin-left: 0;
  }
  .ly-contents__section .contents-area .tab__contents .img-area {
    height: rem(300);
  }
  .ly-contents__section .skills-area .skill {
  }

  .ly-wrap .skills-area .skill-name:hover {
    top: 0;
  }
}

@media (max-width: 850px) {
  .ly-wrap .ly-footer {
    display: block;
  }
  .ly-wrap .ly-footer .contact {
    margin-top: rem(10);
  }
}
