.ly-wrap {
  height: 100%;
  overflow-x: hidden;
  main {
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .table {
    &-area {
      border-top: 2px solid $mainColor;
      table {
        tbody {
          tr {
            &:first-child {
              td {
                border-top: 0;
              }
            }
            &:nth-child(2n) {
              td {
                background-color: $white;
              }
            }
            th {
              width: rem(100);
              background-color: #f1f1f1;
            }
            td {
            }
            &:last-child {
              td {
                border-bottom: rem(1) solid $border;
              }
            }
            &:first-child {
              th {
                background-color: #d5e0ef;
              }
            }
            &:nth-child(1),
            &:nth-child(2) {
              td {
                font-weight: 700;
                background-color: #d5e0ef;
              }
            }
          }
        }
      }
    }
  }
  .tac {
    text-align: center;
  }
}
.stop-scroll {
  overflow: hidden;
}
@keyframes fadeUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
