.#{$ly} {
  &-wrap {
    textarea {
      padding: rem(10);
    }

    .img-area {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center 0;
      }
    }

    .btn {
      &__submit {
        height: rem(30);
        font-weight: 700;
        color: $white;
        border-radius: rem(5);
        background-color: $baseColor;
        padding: 0 rem(10);
      }
    }
  }
  &-contents {
    position: relative;
    padding: rem(80) 0 rem(20);
    overflow: hidden;
    &__wrap {
      position: relative;
      height: 100%;
    }
    &__visual {
      position: sticky;
      top: -30%;
      width: 100%;
      height: 100vh;
      z-index: 9;
      .visual {
        &__intro {
          &-wrap {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            justify-content: 100%;
            background-color: $white;
            animation: outFrame 1s forwards 1.4s;
            .intro__title {
              position: absolute;
              top: 50%;
              left: 50%;
              @include onFlex(center, center);
              flex-direction: column;
              transform: translate(-50%, -50%);
            }
            .title {
              position: relative;
              font-size: rem(52);
              font-weight: 700;
              &:first-child {
                right: -100%;
                opacity: 0;
                animation: toLeft 1s forwards 1s ease-in-out;
              }
              &:nth-child(2) {
                left: -100%;
                opacity: 0;
                animation: toRight 1s forwards 1.2s ease-in-out;
              }
              &:last-child {
                right: -100%;
                opacity: 0;
                animation: toLeft 1s forwards 1.4s ease-in-out;
              }
            }
          }
        }
      }
      .visual__real {
        position: absolute;
        left: 50%;
        bottom: -100%;
        width: 20%;
        height: 10%;
        transform: translateX(-50%);
        animation: fadeUp 1s forwards 1.4s cubic-bezier(0.29, 0.08, 0.2, 1.11);
      }
      .img-area {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        img {
          border-radius: rem(10);
        }
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.3);
        }
      }

      .txt-area {
        position: relative;
        @include onFlex();
        flex-direction: column;
        height: 100%;
        @include maxWidth(rem(756));
        text-align: center;
        padding: 0 rem(30);
        opacity: 0;
        transition: opacity 0.4s ease-in-out;
        z-index: 10;
        h2 {
          font-size: rem(52);
          font-weight: 600;
          color: $white;
          line-height: 1.1;
          letter-spacing: rem(-2);
          margin-bottom: rem(20);
          > span {
            display: inline-block;
            color: $baseColor;
          }
        }
        p {
          line-height: rem(27);
          color: $baseColor;
          letter-spacing: rem(0.5);
        }
      }
      &.on {
        .intro__title {
          display: none;
        }
        .img-area img {
          border-radius: 0;
        }
      }
    }
    &__main {
      position: relative;
      height: 100%;
      background-color: $white;
      padding: rem(100) rem(20);
      z-index: 10;
      .contents {
        &--modify {
          @include onFlex(flex-start, flex-start);
        }

        &__list {
          width: calc(100% - 11.25rem);
          padding-left: rem(100);
          margin: 0 auto;
          h2 {
            color: $baseColor;
            margin-bottom: rem(20);
            span {
              font-size: rem(14);
              font-weight: 400;
              margin-left: rem(3);
            }
          }

          & + .info__cont {
            padding-left: rem(200);
          }
        }

        &__item {
          h3 {
            position: relative;
            font-size: rem(18);
            font-weight: 400;
            color: $baseColor;
            padding-left: rem(12);
            &:after {
              content: '';
              position: absolute;
              top: 50%;
              left: 0;
              display: block;
              width: rem(7);
              height: rem(7);
              border-radius: 50%;
              background-color: $subTxtColor;
              transform: translateY(-50%);
            }
            & + ul {
              margin-top: rem(10);
            }
          }
          ul {
            li {
              font-size: rem(14);
              color: $baseColor;
              padding-left: rem(12);
              p {
                margin-top: rem(5);
                &:last-child {
                  margin-top: rem(8);
                }
              }
              & + li {
                margin-top: rem(5);
              }
            }
            &.skill {
              li {
                @include onFlex(center, flex-start);
                height: rem(17);
                font-size: rem(14);
                color: $baseColor;
                .skill {
                  &-item {
                  }
                  &__title {
                    flex-shrink: 0;
                    width: rem(100);
                  }
                  &__bar {
                    position: relative;
                    width: rem(530);
                    max-width: rem(530);
                    height: rem(10);
                    min-width: rem(185);
                    border: rem(1) solid $subTxtColor;
                    border-radius: rem(10);
                    margin-left: rem(20);
                    box-sizing: content-box;
                    overflow: hidden;
                  }
                  &__per {
                    position: absolute;
                    top: 0;
                    left: -100%;
                    width: 0;
                    height: 100%;
                    border: rem(1) solid $subTxtColor;
                    border-radius: rem(10);
                    background-color: $subTxtColor;
                    transition: left 0.4s ease-in;
                    &::before {
                      content: attr(data-per);
                      position: absolute;
                      top: 50%;
                      right: rem(5);
                      color: $white;
                      font-size: rem(10);
                      border-radius: rem(4);
                      transform: translateY(calc(-50% - 1px));
                    }
                    &.active {
                      left: 0;
                    }
                  }
                }

                span {
                  display: block;
                }
                & + .skill {
                  margin-top: rem(15);
                }
              }
            }

            &.project {
              @include onFlex(flex-start, flex-start);
              flex-wrap: wrap;
              margin-top: rem(-20);
              li {
                width: calc(33.33% - 1.25rem);
                margin: rem(30) rem(20) 0 0;
              }
            }
          }
          & + .contents__item {
            margin-top: rem(35);
          }
        }
        .img-area {
          display: inline-block;
          width: rem(180);
          height: rem(180);
          border-radius: 50%;
          background: url('../images/seo_em01.png') $white no-repeat center
            center / contain;
          box-sizing: content-box;
        }
        h2 {
          font-size: rem(20);
          color: $baseColor;
          margin-bottom: rem(10);
        }
        .q-list {
          li {
            position: relative;
            color: $baseColor;
            border-bottom: rem(1) solid $baseColor;
            padding: rem(10) rem(10) rem(10) rem(25);
            h3 {
              font-size: rem(16);
              & + * {
                margin-top: rem(8);
              }
            }
            p {
              font-size: rem(14);
              padding-left: rem(2);
            }
            & + li {
              margin-top: rem(20);
            }
            &::before {
              content: 'Q';
              position: absolute;
              top: rem(8);
              left: rem(5);
              font-size: rem(18);
            }
          }
        }
        .msg-area {
          position: relative;
          textarea {
            height: rem(50);
            color: $baseColor;
            border: rem(1) solid $baseColor;
            padding: rem(5) rem(75) rem(5) rem(5);
            &::placeholder {
              color: $baseColor;
            }
            & + button {
              position: absolute;
              top: 50%;
              right: rem(10);
              margin-top: rem(-2);
              transform: translateY(-50%);
            }
          }
        }
        & + .contents {
          margin-top: rem(100);
        }
      }
    }
    &-title {
      padding-bottom: rem(20);
    }
  }
}
body {
  &.stop__scroll {
    overflow: hidden;
  }
}
.container {
  @include maxWidth();
}

.dim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.3s ease-in;
  z-index: 999;
  &.on {
    visibility: visible;
    opacity: 1;
  }
}
.popup {
  &__wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: rem(300);
    height: rem(180);
    background-color: $white;
    transform: translate(-50%, -50%);
  }
}

.tag {
  display: inline-block;
  font-size: rem(10);
  line-height: rem(15);
  color: #ffffff;
  border-radius: rem(3);
  padding: rem(2) rem(5);
  margin-top: rem(4);
  margin-right: rem(2);

  &.pc {
    background-color: #ee6c4d;
  }
  &.mobile {
    background-color: #f38d68;
  }
  &.response {
    background-color: #662c91;
  }
  &.html {
    background-color: #17a398;
  }
  &.css {
    background-color: #eddea4;
  }
  &.scss {
    background-color: #00a7e1;
  }
  &.script {
    background-color: #7180ac;
  }
  &.jquery {
    background-color: #3aafb9;
  }
}

@media (max-width: 1024px) {
  .ly-contents__main .contents .img-area {
    margin-top: rem(20);
    margin-left: 0;
  }

  .ly-wrap .sort__contents .img-area {
    height: rem(200);
  }

  .ly-contents__section .contents-area__left {
    // width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .ly-contents__section .contents-area__right {
    // display: block;
    align-items: center;
    justify-content: center;
    padding-top: rem(50);
    padding-left: 0;
  }
  .contents-area__right .info__cont {
    // width: auto;
    padding: 0 20px;
  }
  .contents-area__right .info__cont .skill + .skill {
    margin-top: rem(10);
  }
  .contents-area__right .info__cont .skill__bar {
    margin-left: 0;
  }
  .contents-area__right .info__cont-list ul.project li {
    width: calc(50% - 1.25rem);
  }
}

@media (max-width: 850px) {
  .ly-header {
    justify-content: center;
  }
  .ly-header__logo {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }

  .ly-wrap header.on .ly-header__logo {
    opacity: 1;
  }

  .ly-contents__main {
    padding: rem(100) rem(20);
  }

  .ly-contents__main .contents--modify {
    display: block;
  }

  .ly-contents__main .contents .img-area {
    display: block;
    margin: 0 auto rem(50);
  }

  .ly-contents__main .contents__list {
    width: 100%;
    padding: 0;
  }

  .ly-contents__main .contents__list h2 {
    font-size: rem(20);
    margin-bottom: rem(15);
  }

  .ly-contents__main .contents__item ul.project li {
    width: 100%;
  }

  .ly-wrap .skills-area .skill-name:hover {
    top: 0;
  }

  .ly-contents__visual .visual__intro-wrap .intro__title {
    width: 100%;
  }
  .ly-contents__visual .visual__intro-wrap .title:first-child {
    right: -10%;
  }
  .ly-contents__visual .visual__intro-wrap .title:nth-child(2) {
    left: -10%;
  }
  .ly-contents__visual .visual__intro-wrap .title:nth-child(2) {
    right: -10%;
  }
  .ly-contents__visual .visual__intro-wrap .title {
    font-size: rem(32);
  }
}

@keyframes toLeft {
  0% {
    right: -10%;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes toRight {
  0% {
    left: -10%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
