footer {
  background-color: $baseColor;
  .#{ly} {
    &-footer {
      @include onFlex(center, center);
      @include maxWidth();
      height: rem(80);
      font-size: rem(12);
      color: $subTxtColor;
      text-align: center;
      padding: 0 5%;
      p {
        line-height: 1.2;
      }
    }
  }
}
