.#{$ly} {
  &-wrap {
    header {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      transition: all 0.3s ease;
      z-index: 998;
      &.on {
        top: 0;
        padding: rem(7) 0;
        background-color: $baseColor;
        .ly-header__logo {
          color: $subTxtColor;
        }
        .gnb {
          ul {
            li {
              a {
                color: $baseColor;
              }
            }
          }
        }
      }
    }
  }
  &-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    &__logo {
      height: rem(56);
      line-height: rem(56);
      color: $baseColor;
      font-size: rem(17);
      font-weight: 600;
    }
  }
}
