.gnb {
  ul {
    display: flex;
    align-items: center;
    li {
      a {
        width: 100%;
        display: block;
        line-height: 56px;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        padding-left: 20px;
        transition: color 0.3s ease-in;
        &:hover {
          color: #67c2a2;
        }
      }
      &:first-child {
        a {
          padding-left: 0;
        }
      }
    }
  }
}
