.skills {
  &-area {
    width: 100%;
    @include onFlex(center, flex-start);
    // flex-wrap: wrap;
    margin-top: rem(-50);
    .skill {
      width: 100%;
      // min-width: rem(270);
      margin-top: rem(50);
      &:last-child {
        margin-right: 0;
      }
      &-name {
        position: relative;
        top: 0;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        color: #000;
        margin: 0 auto;
        transition: top 0.2s ease-in;
        cursor: pointer;
        &#html {
          width: rem(85);
          height: rem(115);
          background: url('../images/skill_html.png') no-repeat center 0 / 100%
            100%;
        }
        &#css {
          width: rem(85);
          height: rem(115);
          background: url('../images/skill_css.png') no-repeat center 0 / 100%
            100%;
        }
        &#js {
          width: rem(85);
          height: rem(115);
          background: url('../images/skill_js.png') no-repeat center 0 / 100%
            100%;
        }
        &#jquery {
          width: rem(270);
          height: rem(115);
          background: url('../images/skill_jquery.png') no-repeat center 0 /
            100% 100%;
        }
        &#ps {
          width: rem(75);
          height: rem(75);
          background: url('../images/tool_ps.png') no-repeat center 0 / 100%
            100%;
        }
        &:hover {
          top: rem(-10);
        }
      }
      &-bar {
        height: 15px;
        background: #cacaca;
        border-radius: 8px;
      }

      &-per {
        width: 0;
        height: 100%;
        position: relative;
        background-color: #67c2a2;
        border-radius: 8px;
        transition: 1s cubic-bezier(0.71, 0.07, 0.82, 0.83);
        &::before {
          content: attr(data-per);
          position: absolute;
          top: -28px;
          right: 0;
          padding: 4px 6px;
          background-color: #000;
          color: #fff;
          font-size: 12px;
          border-radius: 4px;
          transform: translateX(50%);
        }
        &::after {
          content: '';
          position: absolute;
          width: 8px;
          height: 8px;
          background-color: #000;
          top: -13px;
          right: 0;
          transform: translateX(50%) rotate(45deg);
          border-radius: 2px;
        }
      }
      // & + .skill {
      //   margin-left: rem(20);
      // }
    }
  }
}
