@charset "UTF-8";
@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}
@keyframes slideIn {
  0% {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@-webkit-keyframes toLeft {
  0% {
    right: -100%;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes toLeft {
  0% {
    right: -100%;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@-webkit-keyframes toRight {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes toRight {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes outFrame {
  0% {
    display: block;
  }
  100% {
    display: none;
  }
}

@keyframes outFrame {
  0% {
    display: block;
  }
  100% {
    display: none;
  }
}

@-webkit-keyframes fadeUp {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}

@keyframes fadeUp {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
  font-family: 'notokr', sans-serif;
}

body {
  height: 100%;
  min-width: 22.5rem;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  vertical-align: top;
}

input,
textarea {
  font-family: 'notokr', sans-serif;
  width: 100%;
  border: 0;
  outline: none;
}

textarea {
  resize: none;
}

button {
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}

/* TYPOGRAPHY */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  /* 모서리의 경계가 픽셀이 깨져 보이지 않음, 폰트를 부드럽게 해줌 */
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: 'notokr';
  font-display: 'fallback';
  src: url("../fonts/NotoSansKR-Medium.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: 'notokr';
  font-display: 'fallback';
  src: url("../fonts/NotoSansKR-Bold.woff2") format("woff2");
}

.tab-area__contents {
  position: relative;
}

.tab__btn {
  display: block;
  cursor: pointer;
}

.tab__contents {
  display: none;
}

.tab__contents .contents {
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.tab__contents.on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ly-wrap header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 998;
}

.ly-wrap header.on {
  top: 0;
  padding: 0.4375rem 0;
  background-color: #348597;
}

.ly-wrap header.on .ly-header__logo {
  color: #f3a94f;
}

.ly-wrap header.on .gnb ul li a {
  color: #348597;
}

.ly-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5%;
}

.ly-header__logo {
  height: 3.5rem;
  line-height: 3.5rem;
  color: #348597;
  font-size: 1.0625rem;
  font-weight: 600;
}

.gnb ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gnb ul li a {
  width: 100%;
  display: block;
  line-height: 56px;
  color: #348597;
  font-size: 14px;
  font-weight: 700;
  padding-left: 20px;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.gnb ul li a:hover {
  color: #67c2a2;
}

.gnb ul li:first-child a {
  padding-left: 0;
}

.ly-wrap textarea {
  padding: 0.625rem;
}

.ly-wrap .tab-area {
  padding-top: 3.25rem;
}

.ly-wrap .tab-area__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ly-wrap .tab-area__btn li {
  position: relative;
  width: 100%;
  text-align: center;
}

.ly-wrap .tab-area__btn li.on .tab__btn {
  color: #ffffff;
  background-color: #348597;
}

.ly-wrap .tab-area .nav {
  position: absolute;
  top: 5rem;
  left: 0;
  width: 100%;
  border-top: 0.0625rem solid #00203f33;
  border-bottom: 0.0625rem solid #00203f33;
}

.ly-wrap .tab-area .nav .tab-area__btn {
  max-width: 75rem;
  margin: 0 auto;
}

.ly-wrap .tab-area .nav .tab-area__btn li.on .tab__btn {
  color: #222222;
  background-color: #ffffff;
}

.ly-wrap .tab-area .nav .tab-area__btn li.on .tab__btn::after {
  width: 100%;
}

.ly-wrap .tab-area__contents {
  margin: 1.875rem 0;
}

.ly-wrap .tab-area__contents .tab-area__contents {
  margin-top: 1.875rem;
}

.ly-wrap .tab__btn {
  position: relative;
  height: 3.125rem;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 3.125rem;
  color: #348597;
  background-color: #ffffff;
  border-radius: 0.3125rem;
  padding: 0 0.625rem;
}

.ly-wrap .tab__btn::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 0.125rem;
  background-color: #348597;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: width 0.3s ease-in;
  transition: width 0.3s ease-in;
}

.ly-wrap .tab__contents {
  padding-left: 5%;
  padding-right: 5%;
}

.ly-wrap .tab__contents .contents__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1.5625rem;
}

.ly-wrap .tab__contents .view__btn {
  position: relative;
  display: block;
  width: 8.75rem;
  height: 2.5rem;
  color: #67c2a2;
  line-height: 2.3125rem;
  text-align: center;
  border: 0.0625rem solid #67c2a2;
  border-radius: 0.3125rem;
  background-color: #ffffff;
  margin-top: 6.25rem;
  -webkit-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
  z-index: 10;
}

.ly-wrap .tab__contents .view__btn:hover {
  color: #fff;
  background-color: #67c2a2;
}

.ly-wrap .tab__contents.on {
  display: block;
}

.ly-wrap .sort-area__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ly-wrap .sort-area__btn li {
  height: 1.875rem;
  color: #222222;
  line-height: 1.875rem;
  background-color: #ffffff;
  border-radius: 0.3125rem;
  padding: 0 0.625rem;
  cursor: pointer;
}

.ly-wrap .sort-area__btn li.on {
  color: #ffffff;
  background-color: #348597;
}

.ly-wrap .sort__btn {
  cursor: pointer;
}

.ly-wrap .sort__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 1.5625rem;
}

.ly-wrap .sort__contents .contents {
  display: none;
  width: calc((99% / 3) - 1%);
  text-align: left;
  margin-bottom: 1.5625rem;
  margin-right: 1%;
  overflow: hidden;
}

.ly-wrap .sort__contents .contents.on {
  display: block;
}

.ly-wrap .sort__contents .img-area {
  height: 18.75rem;
  border: 0.0625rem solid #dddddd;
}

.ly-wrap .sort__contents h4.title {
  font-size: 0.875rem;
  font-weight: 700;
  text-align: left;
  margin-top: 0.3125rem;
  margin-bottom: 0;
}

.ly-wrap .sort__contents:last-child {
  margin-right: 0;
}

.ly-wrap .img-area img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 0;
     object-position: center 0;
}

.ly-wrap footer {
  background-color: #348597;
}

.ly-wrap footer .ly-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 75rem;
  margin: 0 auto;
  height: 5rem;
  font-size: 0.75rem;
  color: #f3a94f;
  text-align: center;
  padding: 0 5%;
}

.ly-wrap footer .ly-footer p {
  line-height: 1.2;
}

.ly-wrap .btn__submit {
  height: 1.875rem;
  font-weight: 700;
  color: #ffffff;
  border-radius: 0.3125rem;
  background-color: #348597;
  padding: 0 0.625rem;
}

.ly-contents__wrap {
  position: relative;
  height: 100%;
}

.ly-contents__visual {
  position: -webkit-sticky;
  position: sticky;
  top: -30%;
  width: 100%;
  height: 100vh;
  z-index: 9;
}

.ly-contents__visual .visual__intro-wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-box-pack: 100%;
      -ms-flex-pack: 100%;
          justify-content: 100%;
  background-color: #ffffff;
  -webkit-animation: outFrame 1s forwards 1.4s;
          animation: outFrame 1s forwards 1.4s;
}

.ly-contents__visual .visual__intro-wrap .intro__title {
  position: absolute;
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ly-contents__visual .visual__intro-wrap .title {
  position: relative;
  font-size: 3.25rem;
  font-weight: 700;
}

.ly-contents__visual .visual__intro-wrap .title:first-child {
  right: -100%;
  opacity: 0;
  -webkit-animation: toLeft 1s forwards 1s ease-in-out;
          animation: toLeft 1s forwards 1s ease-in-out;
}

.ly-contents__visual .visual__intro-wrap .title:nth-child(2) {
  left: -100%;
  opacity: 0;
  -webkit-animation: toRight 1s forwards 1.2s ease-in-out;
          animation: toRight 1s forwards 1.2s ease-in-out;
}

.ly-contents__visual .visual__intro-wrap .title:last-child {
  right: -100%;
  opacity: 0;
  -webkit-animation: toLeft 1s forwards 1.4s ease-in-out;
          animation: toLeft 1s forwards 1.4s ease-in-out;
}

.ly-contents__visual .visual__real {
  position: absolute;
  left: 50%;
  bottom: -100%;
  width: 20%;
  height: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: fadeUp 1s forwards 1.4s ease-in-out;
          animation: fadeUp 1s forwards 1.4s ease-in-out;
}

.ly-contents__visual .img-area {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.ly-contents__visual .img-area img {
  border-radius: 0.625rem;
}

.ly-contents__visual .txt-area {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  max-width: 47.25rem;
  margin: 0 auto;
  text-align: center;
  padding: 0 1.875rem;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  z-index: 10;
}

.ly-contents__visual .txt-area h2 {
  font-size: 3.25rem;
  font-weight: 600;
  color: #ffffff;
  line-height: 1.1;
  letter-spacing: -0.125rem;
  margin-bottom: 1.25rem;
}

.ly-contents__visual .txt-area h2 > span {
  display: inline-block;
  color: #348597;
}

.ly-contents__visual .txt-area p {
  line-height: 1.6875rem;
  color: #348597;
  letter-spacing: 0.03125rem;
}

.ly-contents__visual.on .intro__title {
  display: none;
}

.ly-contents__visual.on .img-area img {
  border-radius: 0;
}

.ly-contents__main {
  position: relative;
  height: 100%;
  background-color: #ffffff;
  padding: 6.25rem 0;
  z-index: 10;
}

.ly-contents__section {
  position: relative;
}

.ly-contents__section .contents-area {
  max-width: 75rem;
  margin: 0 auto;
  padding: 5rem 0 1.25rem;
  overflow: hidden;
}

.ly-contents__section .contents-area .title {
  font-size: 3rem;
  text-align: center;
  color: #348597;
  margin-bottom: 4.375rem;
}

.ly-contents__section:first-child .contents-area {
  padding-top: 0;
}

body.stop__scroll {
  overflow: hidden;
}

#info .contents-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#info .contents-area__left {
  width: 11.25rem;
}

#info .contents-area__left .img-area {
  display: inline-block;
  width: 11.25rem;
  height: 11.25rem;
  border-radius: 50%;
  background: url("../images/seo_em01.png") #ffffff no-repeat center center/contain;
}

#info .contents-area__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: calc(100% - 11.25rem);
  padding-left: 6.25rem;
}

#info .contents-area__right .info__cont {
  width: 100%;
}

#info .contents-area__right .info__cont-title {
  padding-bottom: 1.25rem;
}

#info .contents-area__right .info__cont-title h2 {
  color: #348597;
}

#info .contents-area__right .info__cont-title h2 span {
  font-size: 0.875rem;
  font-weight: 400;
  margin-left: 0.1875rem;
}

#info .contents-area__right .info__cont-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#info .contents-area__right .info__cont-group h3 {
  position: relative;
  font-size: 1.125rem;
  font-weight: 400;
  color: #348597;
  padding-left: 0.75rem;
}

#info .contents-area__right .info__cont-group h3:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 0.4375rem;
  height: 0.4375rem;
  border-radius: 50%;
  background-color: #f3a94f;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#info .contents-area__right .info__cont-group h3 + ul {
  margin-top: 0.625rem;
}

#info .contents-area__right .info__cont-left {
  width: 15.625rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

#info .contents-area__right .info__cont-right {
  width: calc(100% - 11.25rem);
  padding-left: 6.25rem;
}

#info .contents-area__right .info__cont-list ul li {
  font-size: 0.875rem;
  color: #348597;
  padding-left: 0.75rem;
}

#info .contents-area__right .info__cont-list ul li + li {
  margin-top: 0.3125rem;
}

#info .contents-area__right .info__cont-list + .info__cont-list {
  margin-top: 0.9375rem;
}

#info .contents-area__right .info__cont .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 1.0625rem;
  font-size: 0.875rem;
  color: #348597;
}

#info .contents-area__right .info__cont .skill__title {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 6.25rem;
}

#info .contents-area__right .info__cont .skill__bar {
  position: relative;
  width: calc(100% - 7rem);
  height: 0.9375rem;
  min-width: 11.5625rem;
  border: 0.0625rem solid #f3a94f;
  border-radius: 0.625rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  overflow: hidden;
}

#info .contents-area__right .info__cont .skill__per {
  position: absolute;
  top: 0;
  left: -100%;
  width: 0;
  height: 100%;
  border: 0.0625rem solid #f3a94f;
  border-radius: 0.625rem;
  background-color: #f3a94f;
  -webkit-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
}

#info .contents-area__right .info__cont .skill__per::before {
  content: attr(data-per);
  position: absolute;
  top: 50%;
  right: 0.3125rem;
  color: #ffffff;
  font-size: 0.625rem;
  border-radius: 0.25rem;
  -webkit-transform: translateY(calc(-50% - 1px));
          transform: translateY(calc(-50% - 1px));
}

#info .contents-area__right .info__cont .skill__per.active {
  left: 0;
}

#info .contents-area__right .info__cont .skill span {
  display: block;
}

#info .contents-area__right .info__cont .skill + .skill {
  margin-top: 0.9375rem;
}

#info .contents-area__right .info__cont + .info__cont {
  padding-left: 12.5rem;
}

.dim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  z-index: 999;
}

.dim.on {
  visibility: visible;
  opacity: 1;
}

.popup__wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 18.75rem;
  height: 11.25rem;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.msg-area textarea {
  height: 18.75rem;
  border: 0.0625rem solid #dddddd;
}

@media (max-width: 1024px) {
  .tab__contents {
    display: none;
  }
  .tab__contents.on {
    display: block;
  }
  .ly-contents__section .contents-area .tab__contents .img-area {
    margin-top: 1.25rem;
    margin-left: 0;
  }
  .ly-contents__section .contents-area .tab__contents .view__btn {
    margin-top: 1.25rem;
  }
  .ly-wrap .sort__contents .img-area {
    height: 12.5rem;
  }
  .ly-contents__section#info .contents-area {
    display: block;
  }
  .ly-contents__section#info .contents-area__left {
    width: 100%;
    text-align: center;
  }
  .ly-contents__section#info .contents-area__right {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding-top: 3.125rem;
    padding-left: 0;
  }
  #info .contents-area__right .info__cont {
    padding: 0 20px;
  }
}

@media (max-width: 850px) {
  .ly-header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ly-header__logo {
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
  }
  .ly-wrap header.on .ly-header__logo {
    opacity: 1;
  }
  .ly-contents__section#info .contents-area__right .info__cont-title h2 {
    font-size: 1.25rem;
  }
  .gnb {
    display: none;
  }
  .ly-contents__section {
    padding: 0;
  }
  .ly-wrap .tab__btn {
    font-size: 1.125rem;
  }
  .ly-wrap .sort__contents {
    margin-left: 2%;
  }
  .ly-wrap .skills-area .skill-name:hover {
    top: 0;
  }
  .ly-wrap .sort__contents {
    width: 100%;
  }
  .ly-wrap .sort__contents .contents {
    width: 47%;
    margin-right: 3%;
  }
  .ly-contents__visual .visual__intro-wrap .intro__title {
    width: 100%;
  }
  .ly-contents__visual .visual__intro-wrap .title:first-child {
    right: -10%;
  }
  .ly-contents__visual .visual__intro-wrap .title:nth-child(2) {
    left: -10%;
  }
  .ly-contents__visual .visual__intro-wrap .title:nth-child(2) {
    right: -10%;
  }
  .ly-contents__visual .visual__intro-wrap .title {
    font-size: 2rem;
  }
  .ly-wrap .sort__contents .img-area {
    height: 10rem;
  }
  .ly-contents__section#info .contents-area {
    display: block;
  }
  .ly-contents__section#info .contents-area__right .info__cont-group {
    display: block;
  }
  .ly-contents__section#info .contents-area__right .info__cont-group h3 {
    display: inline-block;
  }
  .ly-contents__section#info .contents-area__right .info__cont-right {
    margin-top: 0.9375rem;
    padding-left: 0;
  }
  .ly-contents__section#info .contents-area__right .info__cont .skill {
    font-size: 0.75rem;
  }
  .ly-contents__section#info .contents-area__right .info__cont .skill__bar {
    height: 0.625rem;
  }
  .ly-contents__section#info .contents-area__right .info__cont .skill-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 0.625rem;
  }
  .ly-contents__section#info .contents-area__right .info__cont + .info__cont {
    padding-left: 0;
  }
  #info .contents-area__right .info__cont .skill__per::before {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .msg-area textarea {
    height: 15.3125rem;
  }
  @-webkit-keyframes toLeft {
    0% {
      right: -10%;
      opacity: 0;
    }
    100% {
      right: 0;
      opacity: 1;
    }
  }
  @keyframes toLeft {
    0% {
      right: -10%;
      opacity: 0;
    }
    100% {
      right: 0;
      opacity: 1;
    }
  }
  @-webkit-keyframes toRight {
    0% {
      left: -10%;
      opacity: 0;
    }
    100% {
      left: 0;
      opacity: 1;
    }
  }
  @keyframes toRight {
    0% {
      left: -10%;
      opacity: 0;
    }
    100% {
      left: 0;
      opacity: 1;
    }
  }
}

.pro-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
}

.pro-txt-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.pro-txt-area h3 {
  margin-top: 23px;
  color: #142446;
}

.pro-txt-area span {
  display: block;
  margin: 25px 0 15px 0;
  font-size: 23px;
  color: #000;
}

.skills-area {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: -3.125rem;
}

.skills-area .skill {
  width: 100%;
  margin-top: 3.125rem;
}

.skills-area .skill:last-child {
  margin-right: 0;
}

.skills-area .skill-name {
  position: relative;
  top: 0;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #000;
  margin: 0 auto;
  -webkit-transition: top 0.2s ease-in;
  transition: top 0.2s ease-in;
  cursor: pointer;
}

.skills-area .skill-name#html {
  width: 5.3125rem;
  height: 7.1875rem;
  background: url("../images/skill_html.png") no-repeat center 0/100% 100%;
}

.skills-area .skill-name#css {
  width: 5.3125rem;
  height: 7.1875rem;
  background: url("../images/skill_css.png") no-repeat center 0/100% 100%;
}

.skills-area .skill-name#js {
  width: 5.3125rem;
  height: 7.1875rem;
  background: url("../images/skill_js.png") no-repeat center 0/100% 100%;
}

.skills-area .skill-name#jquery {
  width: 16.875rem;
  height: 7.1875rem;
  background: url("../images/skill_jquery.png") no-repeat center 0/100% 100%;
}

.skills-area .skill-name#ps {
  width: 4.6875rem;
  height: 4.6875rem;
  background: url("../images/tool_ps.png") no-repeat center 0/100% 100%;
}

.skills-area .skill-name:hover {
  top: -0.625rem;
}

.skills-area .skill-bar {
  height: 15px;
  background: #cacaca;
  border-radius: 8px;
}

.skills-area .skill-per {
  width: 0;
  height: 100%;
  position: relative;
  background-color: #67c2a2;
  border-radius: 8px;
  -webkit-transition: 1s cubic-bezier(0.71, 0.07, 0.82, 0.83);
  transition: 1s cubic-bezier(0.71, 0.07, 0.82, 0.83);
}

.skills-area .skill-per::before {
  content: attr(data-per);
  position: absolute;
  top: -28px;
  right: 0;
  padding: 4px 6px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.skills-area .skill-per::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #000;
  top: -13px;
  right: 0;
  -webkit-transform: translateX(50%) rotate(45deg);
          transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

.history {
  width: 100%;
}

.history .history-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
}
/*# sourceMappingURL=ui.css.map */