* {
  margin: 0;
  padding: 0;
  border: 0;
}

button {
  outline: 0;
  cursor: pointer;
  border: 0;
}

.wrap {
  width: 800px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  background: url(../img/background.png) no-repeat center/cover;
}

.wrap .game-bg {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
}

.wrap .game-bg .click-start {
  display: inline-block;
  background-color: transparent;
  font-size: 24px;
  font-weight: bold;
  color: #000;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  background-color: wheat;
  border-radius: 10px;
  border: 3px solid black;
  text-align: center;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.wrap .game-bg .click-start:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.wrap .game-bg .timer {
  margin: 10px auto 0;
  width: 100px;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  background-color: #fff;
  border: 3px solid #000;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  border-radius: 20px;
  visibility: hidden;
}

.wrap .game-bg .count {
  margin: 10px auto 0;
  width: 60px;
  height: 60px;
  background-color: darksalmon;
  border: 3px solid #000;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  line-height: 60px;
  border-radius: 50%;
  visibility: hidden;
}

.wrap .item-area {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.pop-up {
  width: 400px;
  height: 140px;
  background-color: rgba(0, 0, 0, 0.9);
  margin: 0 auto;
  -webkit-transform: translateY(-140%);
          transform: translateY(-140%);
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  color: #fff;
}

.pop-up.pop-up-hide {
  display: none;
}

.pop-up .refresh {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  width: 50px;
  height: 50px;
  background-color: wheat;
  color: #fff;
  border-radius: 50%;
  font-size: 28px;
  color: #000;
}

.pop-up .refresh:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.pop-up .pop-up-ms {
  padding-top: 20px;
  display: block;
  font-size: 28px;
}

.box1 {
  margin-bottom: 1000px;
}

.carrot,
.bug {
  -webkit-transition: -webkit-transform 0.1s ease-in;
  transition: -webkit-transform 0.1s ease-in;
  transition: transform 0.1s ease-in;
  transition: transform 0.1s ease-in, -webkit-transform 0.1s ease-in;
}

.carrot:hover,
.bug:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=style.css.map */