.pro- {
  &area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
  }
  &txt-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    h3 {
      margin-top: 23px;
      color: #142446;
    }
    span {
      display: block;
      margin: 25px 0 15px 0;
      font-size: 23px;
      color: #000;
    }
  }
}
