$ly: ly;
$rem-base: 16px;
$white: #ffffff;
$black: #000000;
$baseColor: #348597;
$subTxtColor: #f3a94f;

@mixin onFlex($align: center, $justify: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin maxWidth($elW: rem(1200)) {
  max-width: $elW;
  margin: 0 auto;
}

@keyframes slideIn {
  0% {
    transform: translateY(40%);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes toLeft {
  0% {
    right: -100%;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes toRight {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes outFrame {
  0% {
    display: block;
  }
  100% {
    display: none;
  }
}

@keyframes fadeUp {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}

// func
// @function rem($pxValue, $context: $browser-context) {
//   @return #{$pxValue/$context}rem;
// }

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function rem($num) {
  @return #{(strip-unit($num) / strip-unit($rem-base))}rem;
}
