$ly: ly;
$rem-base: 16px;

@mixin onFlex($align: center, $justify: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin maxWidth($elW: rem(1366)) {
  max-width: $elW;
  margin: 0 auto;
}

@keyframes slideIn {
  0% {
    transform: translateY(40%);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

// func
// @function rem($pxValue, $context: $browser-context) {
//   @return #{$pxValue/$context}rem;
// }

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function rem($num) {
  @return #{(strip-unit($num) / strip-unit($rem-base))}rem;
}
