@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
  font-family: 'notokr', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  height: 100%;
  min-width: 22.5rem;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  overflow: auto;
}

ol,
ul,
li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  width: 100%;
  vertical-align: top;
}

input,
textarea {
  font-family: 'notokr', sans-serif;
  width: 100%;
  border: 0;
  outline: none;
}

textarea {
  resize: none;
}

button {
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}

a {
  color: #222222;
}

/* TYPOGRAPHY */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  /* 모서리의 경계가 픽셀이 깨져 보이지 않음, 폰트를 부드럽게 해줌 */
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: 'notokr';
  font-display: 'fallback';
  src: url('../fonts/NotoSansKR-Medium.woff2') format('woff2');
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: 'notokr';
  font-display: 'fallback';
  src: url('../fonts/NotoSansKR-Bold.woff2') format('woff2');
}

.tab-area .tab__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-bottom: 0.0625rem solid #273f5c;
}

.tab-area .tab__btn .btn {
  position: relative;
  width: 6.25rem;
  height: 1.875rem;
  text-align: center;
  line-height: 1.8125rem;
  color: #aaaaaa;
  background-color: #f0f0f0;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
  z-index: 1;
  cursor: pointer;
}

.tab-area .tab__btn .btn:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  visibility: visible;
  width: 0;
  height: 100%;
  -webkit-transition: width 0.4s ease-in;
  transition: width 0.4s ease-in;
  z-index: -1;
}

.tab-area .tab__btn .btn.on {
  color: $white;
  background-color: #273f5c;
}

.tab-area .tab__btn .btn + .btn {
  margin-left: 0.125rem;
}

.tab-area .tab__cont .cont {
  display: none;
}

.tab-area .tab__cont .cont.on {
  display: block;
}

.slide__wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide__wrap.move {
  -webkit-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out;
}

.slide__item--01 {
  background: url('../img/main/slide_01.JPG') no-repeat 0 center/100%;
}

.slide__item--02 {
  background: url('../img/main/slide_02.JPG') no-repeat 0 center/100%;
}

.slide__item--03 {
  background: url('../img/main/slide_03.JPG') no-repeat 0 center/100%;
}

.slide__item--04 {
  background: url('../img/main/slide_04.JPG') no-repeat 0 center/100%;
}

.slide__item--05 {
  background: url('../img/main/slide_05.JPG') no-repeat 0 center/100%;
}

.slide__item--06 {
  background: url('../img/main/slide_06.JPG') no-repeat 0 center/100%;
}

.slide__indicator {
  position: absolute;
  left: 0;
  bottom: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.slide__indicator span {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  background-color: $white;
  border-radius: 100%;
  cursor: pointer;
}

.slide__indicator span + span {
  margin-left: 0.75rem;
}

.slide__indicator span.active {
  background-color: #273f5c;
}

.swiper-pagination {
  left: 50%;
  bottom: 0.75rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9;
}

.swiper-pagination span {
  width: 0.75rem;
  height: 0.75rem;
  background-color: $white;
  cursor: pointer;
}

.swiper-pagination span.swiper-pagination-bullet {
  opacity: 1;
}

.swiper-pagination span.swiper-pagination-bullet-active {
  background-color: #273f5c;
}

.swiper-pagination span + span {
  margin-left: 0.75rem;
}

.swiper-button-next {
  right: 0;
  width: 1.875rem;
  height: 1.875rem;
  background: url('../img/slide_right_off.png') no-repeat 0 0 / contain;
  -webkit-transition: background-image 0.4s ease-in;
  transition: background-image 0.4s ease-in;
}

.swiper-button-next:after {
  content: none;
}

.swiper-button-next:hover {
  background-image: url('../img/slide_right.png');
}

.swiper-button-prev {
  width: 1.875rem;
  height: 1.875rem;
  background: url('../img/slide_left_off.png') no-repeat 0 0 / contain;
  -webkit-transition: background-image 0.4s ease-in;
  transition: background-image 0.4s ease-in;
}

.swiper-button-prev:after {
  content: none;
}

.swiper-button-prev:hover {
  background-image: url('../img/slide_left.png');
}

.swiper-button-prev,
.swiper-button-next {
  z-index: 9;
}

.btn__slide {
  position: absolute;
  top: 50%;
  width: 1.875rem;
  height: 1.875rem;
  font-size: 1.125rem;
  font-weight: 700;
  color: $white;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: background-image 0.4s ease-in;
  transition: background-image 0.4s ease-in;
}

.btn__prev {
  left: 3%;
  background: url('../img/slide_left_off.png') no-repeat 0 0 / contain;
}

.btn__prev:hover {
  background-image: url('../img/slide_left.png');
}

.btn__next {
  right: 3%;
  background: url('../img/slide_right_off.png') no-repeat 0 0 / contain;
}

.btn__next:hover {
  background-image: url('../img/slide_right.png');
}

table {
  width: 100%;
}

table thead tr th {
  height: 3.125rem;
  font-weight: 700;
  line-height: 1.2;
}

table thead tr th + th {
  border-left: 0.0625rem solid #cecece;
}

table thead tr th span {
  font-size: 0.75rem;
  font-weight: 500;
  color: #e75935;
}

table thead tr:first-child th {
  border-bottom: 0;
}

table thead tr:last-child th {
  border-top: 0;
}

table tbody tr th {
  border-right: 0.0625rem solid #cecece;
  border-bottom: 0.0625rem solid #cecece;
}

table tbody tr td {
  height: 3.125rem;
  font-size: 0.875rem;
  border-top: 0.0625rem solid #cecece;
}

table tbody tr td + td {
  border-left: 0.0625rem solid #cecece;
}

table tbody tr td:last-child {
  border-bottom: 0.0625rem solid #cecece;
}

table th,
table td {
  color: #222222;
  padding: 0.3125rem 1.25rem;
}

.ly-wrap {
  height: 100%;
  overflow-x: hidden;
}

.ly-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.ly-wrap .table-area {
  border-top: 2px solid #273f5c;
}

.ly-wrap .table-area table tbody tr:first-child td {
  border-top: 0;
}

.ly-wrap .table-area table tbody tr:nth-child(2n) td {
  background-color: $white;
}

.ly-wrap .table-area table tbody tr th {
  width: 6.25rem;
  background-color: #f1f1f1;
}

.ly-wrap .table-area table tbody tr:last-child td {
  border-bottom: 0.0625rem solid #cecece;
}

.ly-wrap .table-area table tbody tr:first-child th {
  background-color: #d5e0ef;
}

.ly-wrap .table-area table tbody tr:nth-child(1) td,
.ly-wrap .table-area table tbody tr:nth-child(2) td {
  font-weight: 700;
  background-color: #d5e0ef;
}

.ly-wrap .tac {
  text-align: center;
}

.stop-scroll {
  overflow: hidden;
}

@-webkit-keyframes fadeUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
  height: 70px;
  background-color: $white;
  padding: 0 2.5rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  z-index: 10;
}

header .logo {
  width: 12.5rem;
  min-width: 12.5rem;
}

header nav {
  margin-left: 10%;
}

header nav.mobile {
  margin-left: 0;
}

header.active {
  background-color: #273f5c;
}

header.active::after {
  background-color: #49596d;
}

header.active nav ul li .gnb__depth {
  opacity: 1;
}

header.active nav ul li a {
  color: $white;
}

header.active nav ul li a:hover {
  color: #e75935;
}

header.active nav ul li:hover > a {
  color: #e75935;
}

header::after {
  content: '';
  position: absolute;
  top: 4.375rem;
  left: 0;
  display: block;
  width: 100%;
  height: 0.0625rem;
  background-color: #cecece;
}

header .header__btn {
  position: absolute;
  top: 50%;
  right: 1.25rem;
  display: none;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 110;
}

header .header__btn span {
  display: block;
  width: 1.25rem;
  height: 0.125rem;
  background-color: #000000;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

header .header__btn span + span {
  margin-top: 0.3125rem;
}

header .header__btn.on span {
  background-color: $white;
}

header .header__btn.on span:first-child {
  -webkit-transform: translateY(4px) rotate(45deg);
  transform: translateY(4px) rotate(45deg);
}

header .header__btn.on span:nth-child(2) {
  opacity: 0;
}

header .header__btn.on span:last-child {
  -webkit-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg);
}

nav {
  width: 100%;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: flext-start;
  -ms-flex-align: flext-start;
  align-items: flext-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 60%;
}

nav ul.gnb li {
  position: relative;
  width: 25%;
  min-width: 7.8125rem;
  cursor: pointer;
}

nav ul.gnb li a {
  display: block;
  width: 100%;
  height: 3.125rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 3rem;
  text-align: center;
  color: #222222;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

nav ul.gnb li + li {
  margin-left: 1.5625rem;
}

nav ul.gnb li:hover > a {
  color: #e75935;
}

nav ul.gnb__depth {
  position: absolute;
  top: 3.125rem;
  left: 0;
  display: block;
  visibility: hidden;
  width: 100%;
  padding-top: 1.25rem;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
  z-index: 10;
}

nav ul.gnb__depth li {
  width: 100%;
  height: auto;
  text-align: center;
  margin: 0 auto;
}

nav ul.gnb__depth li + li {
  margin-left: 0;
}

nav ul.gnb__depth li a {
  height: 1.875rem;
  font-size: 0.875rem;
  line-height: 1.875rem;
}

nav ul.gnb__depth li:last-child {
  padding-bottom: 0.625rem;
}

nav.on .gnb__depth {
  visibility: visible;
}

nav.mobile {
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  background-color: $white;
  -webkit-transition: right 0.3s ease-in;
  transition: right 0.3s ease-in;
}

nav.mobile ul {
  width: 100%;
}

nav.mobile ul.gnb {
  position: relative;
  display: block;
  height: 100%;
  background-color: #273f5c;
  padding-top: 5.625rem;
}

nav.mobile ul.gnb li {
  width: 100%;
}

nav.mobile ul.gnb li + li {
  margin-left: 0;
}

nav.mobile ul.gnb li a {
  width: 100%;
  font-size: 1.25rem;
  color: $white;
  text-align: left;
  padding: 0 1.5rem;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

nav.mobile ul.gnb__depth {
  position: relative;
  top: 0;
  padding-top: 0;
  visibility: visible;
  padding: 0 1.5rem 1.25rem;
  opacity: 1;
}

nav.mobile ul.gnb__depth li a {
  height: 1.25rem;
  font-size: 0.875rem;
  color: #999999;
  line-height: 1.25rem;
  padding-top: 0;
  padding-left: 0.625rem;
}

nav.mobile ul.gnb__depth li:last-child {
  padding-bottom: 0;
}

nav.mobile ul.gnb__depth li + li {
  padding-top: 0.3125rem;
}

.visual-area {
  position: relative;
  height: 36.25rem;
  padding-top: 70px;
  overflow: hidden;
}

.visual-area .txt-area {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 84%;
  padding-left: 1.25rem;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.visual-area .txt-area.animate .visual__title span strong {
  -webkit-animation: fadeUp 1.5s forwards;
  animation: fadeUp 1.5s forwards;
}

.visual-area .txt-area.animate .visual__title span + span strong {
  -webkit-animation: fadeUp 1.5s forwards 0.3s;
  animation: fadeUp 1.5s forwards 0.3s;
}

.visual-area .txt-area.animate .visual__title-sub span {
  top: 5.1875rem;
  -webkit-animation: fadeUp 1.5s forwards 0.6s;
  animation: fadeUp 1.5s forwards 0.6s;
}

.visual-area .txt-area .visual__title {
  display: inline-block;
  color: $white;
}

.visual-area .txt-area .visual__title span {
  display: block;
  font-size: 3.5rem;
  letter-spacing: -0.075rem;
  line-height: 1.3;
  overflow: hidden;
}

.visual-area .txt-area .visual__title span strong {
  position: relative;
  top: 5.1875rem;
}

.visual-area .txt-area .visual__title-sub {
  color: $white;
  margin-top: 3.125rem;
  overflow: hidden;
}

.visual-area .txt-area .visual__title-sub span {
  position: relative;
  top: 5.1875rem;
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: 0.0625rem;
}

.visual-area + .cont-area {
  height: calc(100% - 36.25rem);
}

.visual-area .slide__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.cont__wrap {
  max-width: 80rem;
  padding: 4.375rem 2.5rem;
  margin: 0 auto;
}

.cont__wrap--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.cont__wrap .cont__left {
  width: 45%;
}

.cont__wrap .cont__left a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.cont__wrap .cont__left a .text-area {
  letter-spacing: -0.0625rem;
}

.cont__wrap .cont__left a .text-area p {
  margin-top: 1.25rem;
}

.cont__wrap .cont__left a .img-area img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.cont__wrap .cont__right {
  width: 55%;
  padding-left: 6.25rem;
}

.cont__wrap .cont__right .tab__cont .cont .list-item {
  padding: 1.25rem 0.625rem;
}

.cont__wrap .cont__right .tab__cont .cont .list-item li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 1.5625rem;
}

.cont__wrap .cont__right .tab__cont .cont .list-item li a {
  position: relative;
  display: inline-block;
  width: calc(100% - 9.375rem);
  height: 100%;
  font-size: 0.875rem;
  color: #777777;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.cont__wrap .cont__right .tab__cont .cont .list-item li + li {
  margin-top: 0.625rem;
}

.cont__wrap .cont__right .tab__cont .cont .list-item li:hover a {
  color: #273f5c;
}

.cont__wrap .cont__right .tab__cont .cont .list-date {
  display: inline-block;
  width: 9.375rem;
  font-size: 0.875rem;
  color: #777777;
  text-align: right;
}

.cont__table .title {
  font-size: 1.75rem;
  margin-top: 6.25rem;
}

.cont__table-list {
  background-color: #f1f1f1;
  padding: 0.9375rem;
  margin-top: 1.25rem;
}

.cont__table-list h3 {
  font-size: 1.25rem;
}

.cont__table-list h3 span {
  display: inline-block;
  color: #e75935;
  margin-left: 0.3125rem;
}

.cont__table-list .list-item {
  margin-top: 0.9375rem;
}

.cont__table-list .list-item li {
  position: relative;
  font-size: 1rem;
  padding-left: 0.9375rem;
}

.cont__table-list .list-item li + li {
  margin-top: 0.625rem;
}

.cont__table-list .list-item li span {
  color: #e75935;
}

.cont__table-list .list-item li::before {
  content: '';
  position: absolute;
  top: 0.5rem;
  left: 0.3125rem;
  display: block;
  width: 0.3125rem;
  height: 0.0625rem;
  background-color: #222222;
}

.cont__table-list + .table-area {
  margin-top: 2.5rem;
}

.cont__table .order-num {
  display: block;
}

.cont__table .table-em {
  position: relative;
  display: inline-block;
  text-decoration: underline;
  padding-left: 0.75rem;
}

.cont__table .table-em::before {
  content: '*';
  position: absolute;
  top: 0.125rem;
  left: 0;
  display: block;
  font-size: 1.125rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 7.5rem;
  font-size: 0.75rem;
  color: $white;
  background-color: #273f5c;
  padding: 0 2.5rem;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

footer .adrs span {
  position: relative;
  padding: 0 0.625rem;
}

footer .adrs span + span::before {
  content: '';
  position: absolute;
  width: 0.0625rem;
  height: 0.25rem;
  top: calc(50% + 0.0625rem);
  left: 0;
  display: block;
  width: 0.0625rem;
  height: calc(100% - 0.25rem);
  background-color: $white;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

footer .copy {
  margin-top: 1.25rem;
}

@media (max-width: 1024px) {
  header .header__btn {
    display: block;
  }
  .cont__wrap .cont__left {
    width: 100%;
  }
  .cont__wrap .cont__left a {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .cont__wrap .cont__left a .img-area {
    width: 20rem;
  }
  .cont__wrap .cont__right {
    width: 100%;
    padding-left: 0;
    margin-top: 1.875rem;
  }
}

@media (max-width: 890px) {
  header {
    position: relative;
    padding: 0.625rem 0.9375rem;
  }
  .ly-wrap main {
    padding-top: 0;
  }
  .visual-area {
    height: 16.875rem;
  }
  .visual-area .txt-area .visual__title span {
    font-size: 1.5rem;
  }
  .visual-area .txt-area .visual__title-sub {
    margin-top: 1.25rem;
  }
  .visual-area .txt-area .visual__title-sub span {
    font-size: 0.75rem;
  }
  .visual-area + .cont-area {
    height: calc(100% - 17.8125rem);
  }
  .visual-area + .cont-area .cont__wrap .cont__left .img-area {
    text-align: center;
  }
  .tab-area .tab__btn .btn {
    width: 100%;
    height: 2.1875rem;
    line-height: 2.1875rem;
    font-size: 0.875rem;
  }
  footer {
    padding: 0.9375rem;
  }
  .cont__wrap {
    padding: 3.125rem 0.3125rem 4.375rem;
  }
  .cont__table {
    padding-left: 0;
    padding-right: 0;
  }
  .cont__table-list h3 {
    font-size: 1rem;
    padding-left: 0.3125rem;
  }
  .cont__table-list h3 span {
    display: block;
    margin-left: 0;
    margin-top: 0.125rem;
  }
  .cont__table .title {
    font-size: 1.25rem;
    margin-top: 0;
    padding-left: 0.3125rem;
  }
  .cont__table-list .list-item li {
    font-size: 0.875rem;
  }
  .cont__table-list .list-item li + li {
    margin-top: 0.3125rem;
  }
  .cont__table-list + .table-area {
    margin-top: 1.25rem;
  }
  table thead tr th span {
    display: block;
    margin-top: 0.3125rem;
  }
  table th,
  table td {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  table tbody tr th {
    font-size: 0.75rem;
  }
  table tbody tr td {
    font-size: 0.6875rem;
  }
  .swiper-pagination span {
    width: 0.625rem;
    height: 0.625rem;
  }
  .swiper-pagination span + span {
    margin-left: 0.625rem;
  }
  footer {
    display: block;
  }
  footer .adrs span {
    display: block;
    margin: 0;
    padding: 0;
  }
  footer .adrs span + span {
    margin-top: 0.4375rem;
  }
  footer .adrs span + span::before {
    content: none;
  }
}
/*# sourceMappingURL=ui.css.map */
